/* VAriables colors */
:root{
    --black: #000000;
    --red: #470000;
    --orange: #471B00;
    --lightOrange: #472700;
    --darkYellow: #463700;
    --yellow: #464700;
    --lightGreen: #304700;
    --green: #014700;
    --lightBlue: #003947;
    --blue: #002447;
    --darkBlue: #000347;
    --purpule: #2A0047;
    --pink: #47002C;
}