/* VAriables colors */
:root{
    --black: #000000;
    --red: #ff0000;
    --orange: #ffa500;
    --yellow: #ffff00;
    --lightGreen: #9acd32;
    --green: #00ff00;
    --lightBlue: #00ffff;
    --blue: #00a5ff;
    --darkPurpule: #0000a0;
    --purpule: #800080;
    --pink: #ff00ff;
}